p
{
        background-color: rgb(128, 0, 64);
        color: hwb(40 0% 0%);
        width: 75px;
        font-size: 20px;
        border-radius: 5px;
}

.class
{
    font-size: 25px;
    padding:10px 10px 10px 10px;
    border-radius:10px;
}

img
{
    border-radius: 8px;
}
